.contents {
    width: 680px;
    margin: 0px auto 50px;
}

.contents_ttl {
    display: flex;
    justify-content: center;
    margin: 140px auto 45px;
    font-size: 36px;
}

.img {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}

.img_inner {
    width: 150px;
    aspect-ratio: 1 / 1;
    background-color: #d9d9d9;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
}

.img_display {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_upload_btn {
    width: 180px;
    height: 50px;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img_upload_input {
    display: none;
}

.name,
.post,
.address,
.building {
    font-size: 24px;
    margin: 0;
}

.name_input,
.post_input,
.address_input,
.building_input {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    font-size: 24px;
}

.name_input,
.building_input {
    margin-bottom: 65px;
}

.post_input,
.address_input {
    margin-bottom: 45px;
}

.edit_btn {
    width: 100%;
    height: 60px;
    background-color: #ff5555;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.error {
    color: #ff5555;
    display: flex;
    justify-content: left;
    font-size: 20px;
}